.rules-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    margin-bottom: 176px;
    position: relative;
    @include lg-d{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        width: 95%;
    }
    .rules {
        margin-right: 90px;
        margin: 0 auto;
        @include md-d{
            width: 95%;
        }
    }
    .rules-inner {
        @include lg-d{
            width: 95%;
            margin-bottom: 100px;
            text-align: center
        }
        .rules-ttl {
            @include forTtl;
            color: #29246A;
            margin-bottom: 31px;
            @include lg-d{
                font-size: 29px;
            }
        }
        .rules-btn {
            @include forBtn;
            background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
            border: 0px;
            padding: 17px 91px 18px;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            @include lg-d{
                font-size: 14px;
                padding: 17px 41px 18px;
            }
        }
        .rules-pop {
            background-color: #fff;
            border: 1px solid #97C1F6;
            border-radius: 10px;
            position: absolute;
            margin: 0 auto;
            left: 50%;
            top: -20%;
            transform: translate(-50%, -50%) scale(0);
            transition-duration: .1s;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            .close-rules-pop {
                transform: rotate(45deg);
                position: absolute;
                right: 25px;
                width: 24px;
                height: 24px;
                top: 25px;
                &:hover{
                    cursor: pointer;
                }
            }
            .rules-pop-parragr{
                padding: 105px 65px 91px;
                width: 870px;
                color: #828282;
                font-family: 'Open Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }
        }
        .rules-active{
            transform: translate(-50%, -50%) scale(1);
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}