@import 'vars';
@import 'breakpoints';
@import 'faq-block';
@import 'invest';
@import 'rules';
@import 'footer';

*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    @include lg-d{
        width: 95%;
        margin: 0 auto;
    }
}

.log-in-wrapper{
    width: 100%;
    height: 100%;
    background-color: #4f4f4f9f;
    z-index: 3;
    position: absolute;
    display: none;
    .log-in-block {
        z-index: 4;
        position: relative;
        display: none;
        width: 490px;
        background-color: #fff;
        border-radius: 10px;
        margin: 0 auto;
        height: 480px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0;
        box-shadow: 0px 0px 100px 75px rgba(34, 60, 80, 0.22);
        @include sm-d{
            width: 80%;
            height: auto;
            padding-bottom: 20px;
        }
        .log-inner-wrapper{
            width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include sm-d{
                width: 90%;
                padding: 15px 0px 17px;
            }
            .close-log-pop {
                position: absolute;
                right: 15px;
                top: 15px;
                &:hover{
                    cursor: pointer;
                }
            }
            .log-in-ttl {
                @include forTtl;
                color: #29246A;
                text-align: center;
                padding-top: 43px;
                margin-bottom: 32px;
            }
            .login-input{
                display: block;
                width: 392px;
                margin-bottom: 14px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #ccc;
                color: #ccc;
                font-size: 12px;
                padding: 15px 0px 17px 22px;
                @include sm-d{
                    width: 95%;
                    padding: 15px 0px 17px 10px;
                }
            }
            .forgot-passwd {
                color: #4D92EB;
                text-decoration: none;
                font-size: 12px;
                font-family: 'Open Sans';
                display: block;
                margin-bottom: 23px;
                align-self: flex-start;
            }
            .continue {
                @include forBtn;
                padding: 15px 138px;
                background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
                border: 0px;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 31px;
                border-radius: 30px;   
                @include sm-d{
                    width: 100%;
                    padding: 15px 0px 17px;
                } 
            }
            .without-profile {
                font-weight: 400;
                font-size: 14px;
                color: #4F4F4F;
                text-align: center;
                width: 309px;
                font-family: 'Open Sans';
                @include sm-d{
                    width: 100%;
                }
                .sing-in{
                    color: red($color: #f16666);
                    text-decoration: none;
                    transition-duration: .3s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .display{
        display: block;
        opacity: 1;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.registration-wrapper {
    width: 100%;
    height: 100%;
    background-color: #4f4f4f9f;
    z-index: 3;
    position: absolute;
    display: none;
    .registration-block {
        position: relative;
        width: 540px;
        background-color: #fff;
        display: none;
        border-radius: 10px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-property: display, opacity;
        transition-duration: 0, .3s ;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0;
        height: auto;
        padding-bottom: 25px;
        box-shadow: 0px 0px 100px 75px rgba(34, 60, 80, 0.22);
        @include sm-d{
            width: 80%;
            height: auto;
            padding-bottom: 20px;
        }
        .registration-inner-wrapper{
            width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include sm-d{
                width: 90%;
                padding: 15px 0px 17px;
            }
            .close-pop {
                position: absolute;
                right: 15px;
                top: 15px;
                &:hover{
                    cursor: pointer;
                }
            }
            .registration-ttl {
                @include forTtl;
                color: #29246A;
                text-align: center;
                padding-top: 43px;
                margin-bottom: 32px;
            }
            .resgistr-input{
                display: block;
                width: 392px;
                margin-bottom: 14px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #ccc;
                color: #ccc;
                font-size: 12px;
                padding: 15px 0px 17px 22px;
                @include sm-d{
                    width: 95%;
                    padding: 15px 0px 17px 10px;
                }
            }
            .registration {
                @include forBtn;
                padding: 15px 138px;
                background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
                border: 0px;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 31px;
                border-radius: 30px;  
                @include sm-d{
                    width: 100%;
                    padding: 15px 0px 17px;
                }   
            }
            .is-profile{
                font-weight: 400;
                font-size: 14px;
                color: #4F4F4F;
                text-align: center;
                width: 309px;
                font-family: 'Open Sans';
                .sing-in{
                    color: red($color: #911b1b);
                    text-decoration: none;
                    transition-duration: .3s;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .display{
        display: block;
        opacity: 1;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}


.header-bacground{
    height: 528px;
    background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
    margin-bottom: 88px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
    @include sm-d{
        height: auto;
        padding-bottom: 120px;
    }
    
    header{
        margin: 0px auto 55px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-wrapper {
            display: flex;
            align-items: center;
            width: 360px;
            @include md-d{
                margin-left: 25px;
            }
            &:hover{
                cursor: pointer;
            }
            .logo {
                margin-right: 23px;
            }
            .company-name {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                font-family: 'Open Sans';
                @include sm-d{
                    display: none;   
                }
            }
        }
        .user-interf {
            display: flex;
            .social {
                @include md-d{
                    display: none;
                }
                .social-img {
                    border-radius: 50%;
                    margin-right: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .link-btn {
                height: 34px;
                @include forBtn;
                padding: 6px 40px 10px;
                border: 1px solid #fff;
                transition-duration: .3s;
                transition-delay: .05s;
                margin-left: 44px;
                &:hover{
                    color: rgba(58, 58, 58, 0.95);
                    border-color: rgba(255, 255, 255, 95);
                    background-color: rgba(255, 255, 255, 0.95);
                }
            }
        }
    }
}
    
.title {
    color: #fff;
    .main-ttl {
        font-family: 'Rubik';
        font-size: 45px;
        font-weight: 700;
        width: 610px;
        margin-bottom: 21px;
        line-height: 53.33px;
        @include sm-d{
            width: 95%;
            font-size: 32px;
            line-height: 39.33px;
        }
    }
    .main-subttl {
        @include forText;
        width: 442px;
        margin-bottom: 43px;
        @include sm-d{
            width: 95%;
        }
    }
    .registration-btn {
        @include forBtn;
        font-family: 'Rubik';
        font-size: 25px;
        border-radius: 30px;
        font-weight: 500;
        background-color: #29246A;
        padding: 15px 116px 19px;
        border: 0px solid;
        border-radius: 38px;
        transition: .3s;
        @include md-d{
            font-size: 18px;
            padding: 15px 35px 16px;
        }
        &:hover{
            background-color: #39329bf3;
        }
    }
    
}
.title-img-block {
    position: absolute;
    right: 0;
    width: 45%;
    top: 150px;
    .tile-img{
        width: 100%;
    }
    .download-presentation {
        @include forBtn;
        border: 0px;
        width: 113px;
        height: 111px;
        border-radius: 50%;
        background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
        transform: rotate(-12.2deg);
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: -50px;
        top: -50px;
    }
}
main{
    .game-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        margin-top: -15px;
        @include lg-m-d{
            flex-direction: column-reverse;
        }
        @include lg-d{
            height: 660px;
        }
        .game {
            margin-right: 61px;
            margin-left: -55px;
            @include lg-m-d{
                margin: 0px;
            }
            @include sm-d{
                width: 85%;
            }
        }
        .game-intro{
            @include lg-d{
                width: 55%;
                margin: 25px auto;
            }
            @include sm-d{
                width: 85%;
            }
            .game-ttl {
                color: #29246A;
                width: 554px;
                margin-bottom: 30px;
                font-family: 'Rubik';
                font-size: 35px;
                font-weight: 500;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: left;

                @include lg-d{
                    width: 95%;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            .game-subttl {
                @include forText;
                width: 430px;
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                @include lg-d{
                    width: 95%;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

.choose-plan {
    margin-bottom: 143px;
    .plat-ttl {
        @include forTtl;
        color: #29246A;
        font-weight: 700;
        text-align: center;
        margin-bottom: 61px;
        font-size: 45px;
        font-weight: 700;
    }
    .choose-carousel {
        display: flex;
        justify-content: space-between;
        @include lg-d{
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .chosee-carousel-item {
            width: 235px;
            height: 385px;
            text-align: center;
            box-shadow: 2px 4px 30px #C2C2FC;
            border-radius: 5px;
            transition-duration: .3s;
            @include lg-d{
                margin-bottom: 20px;
                margin-left: 15px;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                .blue {
                    transition-duration: .3s;
                    color: #26548f;
                    font-family: 'Rubik';
                    font-size: 45px;
                    font-weight: 700;
                }
                .blue-last{
                    font-size: 18px;
                }
            }
            .choose-item-ttl {
                font-family: 'Rubik';
                font-size: 25px;
                font-weight: 500;
                color: #fff;
                background: linear-gradient(258.01deg, #A76FFD 13.51%, #519CFD 119.02%);
                margin-bottom: 27px;
                height: 70px;
                padding-top: 30px;
                border-radius: 5px;
                clip-path: polygon(0 0, 100% 0, 100% 74%, 0 93%);
            }
            .supreme{
                background: linear-gradient(250.12deg, #B93CE8 -7.53%, #FF9AEA 82.03%);
            }
            .percent {
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 400;
                color: #4F4F4F;
                margin-bottom: 50px;
            }
            .blue {
                color: #4D92EB;
                font-family: 'Rubik';
                font-size: 45px;
                font-weight: 700;
                transition-duration: .3s;
            }
            .blue-last{
                font-size: 18px;
            }
            .condition {
                font-family: 'Open Sans';
                font-size: 15px;
                font-weight: 400;
                color: #4F4F4F;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 35px;
                .consition-mark {
                    margin-left: 6px;
                }
            }
            .choose-carousel-btn {
                @include forBtn;
                background-color: #29246A;
                padding: 9px 58px 12px;
                border: 0px;
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 400;
                &:hover{
                    background-color: #29246ad0;
                }
            }
        }
        .chosee-carousel-item:first-child{
            @include lg-d{
                margin-left: 0px;
            }
        }
    }
}

