@import 'vars';
@import 'breakpoints';
@import 'faq-block';
@import 'invest';
@import 'rules';
@import 'footer';

*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    @include lg-d{
        width: 95%;
        margin: 0 auto;
    }
}

.header-bacground{
    height: 528px;
    background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
    margin-bottom: 88px;
    header{
        margin: 0px auto 50px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-wrapper {
            display: flex;
            align-items: center;
            width: 360px;
            @include md-d{
                margin-left: 25px;
            }
            &:hover{
                cursor: pointer;
            }
            .logo {
                margin-right: 23px;
            }
            .company-name {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                font-family: 'Open Sans';
                @include sm-d{
                    display: none;   
                }
            }
        }
        .user-interf {
            display: flex;
            .social {
                @include md-d{
                    display: none;
                }
                .social-img {
                    border-radius: 50%;
                    margin-right: 7px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .link-btn {
                height: 36px;
                @include forBtn;
                padding: 10px 62px 27px;
                border: 1px solid #fff;
                transition-duration: .3s;
                transition-delay: .05s;
                margin-left: 23px;
                &:hover{
                    color: rgb(166, 166, 166);
                    border-color: rgb(166, 166, 166);
                    background-color: rgba(255, 255, 255, 0.649);
                }
            }
        }
    }
}

    
    
    
.title {
    color: #fff;
    .main-ttl {
        font-family: 'Rubik';
        font-size: 45px;
        font-weight: 700;
        width: 610px;
        margin-bottom: 21px;
        @include sm-d{
            width: 95%;
            font-size: 32px;
        }
    }
    .main-subttl {
        @include forText;
        width: 442px;
        margin-bottom: 43px;
        @include sm-d{
            width: 95%;
        }
    }
    .registration {
        @include forBtn;
        font-family: 'Rubik';
        font-size: 25px;
        font-weight: 500;
        background-color: #29246A;
        padding: 15px 95px 16px;
        border: 0px solid;
        border-radius: 38px;
        transition: .3s;
        @include md-d{
            font-size: 18px;
            padding: 15px 35px 16px;
        }
        &:hover{
            background-color: #39329bf3;
        }
    }
    
}
.title-img-block {
    position: absolute;
    right: 0;
    width: 45%;
    top: 150px;
    .tile-img{
        width: 100%;
    }
    .download-presentation {
        @include forBtn;
        border: 0px;
        width: 113px;
        height: 111px;
        border-radius: 50%;
        background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
        transform: rotate(-12.2deg);
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: -50px;
        top: -50px;
    }
}
main{
    .game-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        @include lg-m-d{
            flex-direction: column-reverse;
        }
        @include lg-d{
            height: 660px;
        }
        .game {
            margin-right: 100px;
            @include lg-m-d{
                margin: 0px;
            }
            @include sm-d{
                width: 85%;
            }
        }
        .game-intro{
            @include lg-d{
                width: 55%;
                margin: 25px auto;
            }
            @include sm-d{
                width: 85%;
            }
            .game-ttl {
                @include forTtl;
                color: #29246A;
                width: 554px;
                margin-bottom: 30px;
                @include lg-d{
                    width: 95%;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            .game-subttl {
                @include forText;
                width: 445px;
                @include lg-d{
                    width: 95%;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

.choose-plan {
    margin-bottom: 143px;
    .plat-ttl {
        @include forTtl;
        color: #29246A;
        font-weight: 700;
        text-align: center;
        margin-bottom: 61px;
    }
    .choose-carousel {
        display: flex;
        justify-content: space-between;
        @include lg-d{
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .chosee-carousel-item {
            width: 235px;
            height: 385px;
            text-align: center;
            box-shadow: 2px 4px 30px #C2C2FC;
            border-radius: 5px;
            transition-duration: .3s;
            @include lg-d{
                margin-bottom: 20px;
                margin-left: 15px;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                .blue {
                    transition-duration: .3s;
                    color: #26548f;
                    font-family: 'Rubik';
                    font-size: 45px;
                    font-weight: 700;
                }
                .blue-last{
                    font-size: 18px;
                }
            }
            .choose-item-ttl {
                font-family: 'Rubik';
                font-size: 25px;
                font-weight: 500;
                color: #fff;
                background: linear-gradient(258.01deg, #A76FFD 13.51%, #519CFD 119.02%);
                margin-bottom: 27px;
                height: 70px;
                padding-top: 30px;
                border-radius: 5px;
            }
            .percent {
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 400;
                color: #4F4F4F;
                margin-bottom: 50px;
            }
            .blue {
                color: #4D92EB;
                font-family: 'Rubik';
                font-size: 45px;
                font-weight: 700;
                transition-duration: .3s;
            }
            .blue-last{
                font-size: 18px;
            }
            .condition {
                font-family: 'Open Sans';
                font-size: 12px;
                font-weight: 400;
                color: #4F4F4F;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 35px;
                .consition-mark {
                    margin-left: 6px;
                }
            }
            .choose-carousel-btn {
                @include forBtn;
                background-color: #29246A;
                padding: 9px 58px 12px;
                border: 0px;
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 400;
            }
        }
        .chosee-carousel-item:first-child{
            @include lg-d{
                margin-left: 0px;
            }
        }
    }
}