* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header-bacground {
  height: 528px;
  background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
  margin-bottom: 88px;
}
.header-bacground header {
  margin: 0px auto 50px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-bacground header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
}
.header-bacground header .logo-wrapper:hover {
  cursor: pointer;
}
.header-bacground header .logo-wrapper .logo {
  margin-right: 23px;
}
.header-bacground header .logo-wrapper .company-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
}
.header-bacground header .user-interf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-bacground header .user-interf .social .social-img {
  border-radius: 50%;
  margin-right: 7px;
}
.header-bacground header .user-interf .social .social-img:hover {
  cursor: pointer;
}
.header-bacground header .user-interf .link-btn {
  height: 36px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  padding: 10px 62px 27px;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  margin-left: 23px;
}
.header-bacground header .user-interf .link-btn:hover {
  cursor: pointer;
}
.header-bacground header .user-interf .link-btn:hover {
  color: rgb(166, 166, 166);
  background-color: rgba(255, 255, 255, 0.649);
}

.title {
  color: #fff;
}
.title .main-ttl {
  font-family: "Rubik";
  font-size: 45px;
  font-weight: 700;
  width: 610px;
  margin-bottom: 21px;
}
.title .main-subttl {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 442px;
  margin-bottom: 43px;
}
.title .registration {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
  background-color: #29246A;
  padding: 15px 95px 16px;
  border: 0px solid;
  border-radius: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.title .registration:hover {
  cursor: pointer;
}
.title .registration:hover {
  background-color: rgba(57, 50, 155, 0.9529411765);
}

.title-img-block {
  position: absolute;
  right: 0;
  width: 45%;
  top: 150px;
}
.title-img-block .tile-img {
  width: 100%;
}
.title-img-block .download-presentation {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  border: 0px;
  width: 113px;
  height: 111px;
  border-radius: 50%;
  background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
  -webkit-transform: rotate(-12.2deg);
          transform: rotate(-12.2deg);
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: -50px;
  top: -50px;
}
.title-img-block .download-presentation:hover {
  cursor: pointer;
}

main .game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
main .game-container .game {
  margin-right: 100px;
}
main .game-container .game-intro .game-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: #29246A;
  width: 554px;
  margin-bottom: 30px;
}
main .game-container .game-intro .game-subttl {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 445px;
}

.choose-plan {
  margin-bottom: 143px;
}
.choose-plan .plat-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: #29246A;
  font-weight: 700;
  text-align: center;
  margin-bottom: 61px;
}
.choose-plan .choose-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choose-plan .choose-carousel .chosee-carousel-item {
  width: 235px;
  height: 385px;
  text-align: center;
  -webkit-box-shadow: 2px 4px 30px #C2C2FC;
          box-shadow: 2px 4px 30px #C2C2FC;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.choose-plan .choose-carousel .chosee-carousel-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.choose-plan .choose-carousel .chosee-carousel-item:hover .blue {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #26548f;
  font-family: "Rubik";
  font-size: 45px;
  font-weight: 700;
}
.choose-plan .choose-carousel .chosee-carousel-item:hover .blue-last {
  font-size: 18px;
}
.choose-plan .choose-carousel .chosee-carousel-item .choose-item-ttl {
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(258.01deg, #A76FFD 13.51%, #519CFD 119.02%);
  margin-bottom: 27px;
  height: 70px;
  padding-top: 30px;
  border-radius: 5px;
}
.choose-plan .choose-carousel .chosee-carousel-item .percent {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #4F4F4F;
  margin-bottom: 50px;
}
.choose-plan .choose-carousel .chosee-carousel-item .blue {
  color: #4D92EB;
  font-family: "Rubik";
  font-size: 45px;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.choose-plan .choose-carousel .chosee-carousel-item .blue-last {
  font-size: 18px;
}
.choose-plan .choose-carousel .chosee-carousel-item .condition {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}
.choose-plan .choose-carousel .chosee-carousel-item .condition .consition-mark {
  margin-left: 6px;
}
.choose-plan .choose-carousel .chosee-carousel-item .choose-carousel-btn {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  background-color: #29246A;
  padding: 9px 58px 12px;
  border: 0px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}
.choose-plan .choose-carousel .chosee-carousel-item .choose-carousel-btn:hover {
  cursor: pointer;
}

.faq-block {
  background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
  height: 1503px;
  color: #fff;
}
.faq-block .faq-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  text-align: center;
  padding-top: 149px;
  margin-bottom: 70px;
}
.faq-block .faq-accordeon .wrapper .faq-question .question {
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
  width: 1000px;
  margin: 0px auto;
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq-block .faq-accordeon .wrapper .faq-question .question .plus {
  background-color: #fff;
  border-radius: 50%;
  padding: 9px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.faq-block .faq-accordeon .wrapper .faq-question .question .plus:hover {
  cursor: pointer;
  background-color: #87B9FA;
}
.faq-block .faq-accordeon .wrapper .call-us-container {
  background-color: #fff;
  border-radius: 10px;
  height: 325px;
  margin-top: 130px;
  padding: 61px 0 0 68px;
  position: relative;
}
.faq-block .faq-accordeon .wrapper .call-us-container .call-intro .call-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: #29246A;
  font-weight: 700;
  margin-bottom: 21px;
}
.faq-block .faq-accordeon .wrapper .call-us-container .call-intro .call-subttl {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #4F4F4F;
  margin-bottom: 41px;
  width: 381px;
}
.faq-block .faq-accordeon .wrapper .call-us-container .call-intro .call-us-btn {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
  border: 0px;
  padding: 17px 61px 18px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
}
.faq-block .faq-accordeon .wrapper .call-us-container .call-intro .call-us-btn:hover {
  cursor: pointer;
}
.faq-block .faq-accordeon .wrapper .call-us-container .call {
  position: absolute;
  right: 18px;
  top: 0;
}

.investment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 138px 0px 287px;
}
.investment-container .invest-imgs {
  position: relative;
  margin-right: 81px;
}
.investment-container .invest-imgs .investment {
  z-index: 2;
  position: relative;
}
.investment-container .invest-imgs .investment:last-child {
  position: absolute;
  left: 0;
  bottom: -95px;
  z-index: 0;
}
.investment-container .investment-intro .investment-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: #29246A;
}
.investment-container .investment-intro .investment-subt {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  width: 487px;
  margin-top: 41px;
}

.rules-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  margin-bottom: 176px;
}
.rules-container .rules {
  margin-right: 90px;
}
.rules-container .rules-inner .rules-ttl {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: #29246A;
  margin-bottom: 31px;
}
.rules-container .rules-inner .rules-btn {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 24px;
  background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
  border: 0px;
  padding: 17px 91px 18px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
}
.rules-container .rules-inner .rules-btn:hover {
  cursor: pointer;
}
.rules-container .rules-circle {
  position: absolute;
  right: -50%;
  top: -50%;
  width: 462px;
  height: 462px;
  border-radius: 50%;
  background-color: #EFF6FF;
}

footer {
  background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
  height: 154px;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
footer .wrapper .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .logo-wrapper .logo {
  margin-right: 19px;
}
footer .wrapper .logo-wrapper .company-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
}
footer .wrapper .logo-wrapper .user-interf .social .social-img {
  margin-left: 20px;
}
footer .wrapper .logo-wrapper .user-interf .social .social-img:hover {
  cursor: pointer;
}